# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment & Secrets
.env
*.json
!requirements.txt

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
